{% extends "base.html" %}

{% block title %}Admin - Cactus{% endblock %}

{% block content %}
<h2>Admin</h2>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% else %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>Run Groups</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.user_id }}</td>
            {% if user.name %}
            <td><b>{{ user.name }}</b></td>
            {% else %}
            <td>Unknown</td>
            {% endif %}
            <td>
                {% if user.run_groups %}
                {% for run_group in user.run_groups %}
                <a class="separated-links" href="{{ url_for('admin_run_group_page', run_group_id=run_group.run_group_id) }}">
                    {{run_group.name}} ({{ run_group.run_group_id }})
                </a>
                {% endfor %}
                {% else %}
                No run groups found.
                {% endif %}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4" class="text-center">No procedures available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<style>
    .separated-links {
        margin-right: 0.7em;
    }
</style>
<script></script>

{% endblock %}

