{% extends "base.html" %}

{% block title %}Compliance- Cactus{% endblock %}

{% block content %}


{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% else %}
<div class="container">

    <h2>Compliance Request</h2>
    <div class="d-flex justify-content-center">
        <ul class="nav nav-pills my-4" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-step1-tab" data-bs-toggle="pill" data-bs-target="#pills-step1"
                    type="button" role="tab" aria-controls="pills-step1" aria-selected="true">Step 1</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-step2-tab" data-bs-toggle="pill" data-bs-target="#pills-step2"
                    type="button" role="tab" aria-controls="pills-step2" aria-selected="false">Step 2</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-step3-tab" data-bs-toggle="pill" data-bs-target="#pills-step3"
                    type="button" role="tab" aria-controls="pills-step3" aria-selected="false">Step 3</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-step4-tab" data-bs-toggle="pill" data-bs-target="#pills-step4"
                    type="button" role="tab" aria-controls="pills-step4" aria-selected="false">Step 4</button>
            </li>
        </ul>
    </div>
    <!-- STEP 1 -->
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-step1" role="tabpanel" aria-labelledby="pills-step1-tab"
            tabindex="0">
            <!-- Form uses self-submission technique -->
            <form action="{{ url_for('compliance_request_page')}}" method="post">
                <div class="mb-4">
                    <h4>Compliance</h4>
                    <div class="row mt-4">
                        <label for="csipAusVersionSelect" class="col-auto col-form-label">Standard</label>
                        <div class="col col-auto">
                            <select id="csipAusVersionSelect" name="csipaus-version" class="form-select"
                                aria-label="Select CSIPAus Version">
                                {% for version in csipaus_versions %}
                                <option value="{{ version }}">CSIP-AUS {{version}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <h4>Classes</h4>
                    <div class="d-flex mb-2">
                        <button type="button" class="btn btn-sm btn-primary" onclick="updateClassCheckboxState(true);">Select
                            All</button>
                        <button type="button" class="ms-2 btn btn-sm btn-secondary"
                            onclick="updateClassCheckboxState(false);">Deselect All</button>
                    </div>
                </div>
                <div class="mb-5">
                    <!-- Add all the classes upfront and show/hide them based on chosen CSIPAus version-->
                    <div class="container prevent-select">
                        {% set NUM_COLS = 9 %}
                        {% set NUM_ROWS = (all_compliance_classes|length)//NUM_COLS + 1 %}
                        {% for r in range(NUM_ROWS) %}
                        <div class="row">
                            {% for c in range(NUM_COLS) %}
                            {% set index = r*NUM_COLS+c %}
                            {% if index < all_compliance_classes|length %} {% set class=all_compliance_classes[index] if index < all_compliance_classes|length else "placeholder" %}
                            <div class="col">
                                <div id="class-checkbox-container-{{class}}" class="form-check">
                                    <input id="class-checkbox-{{class}}" name="{{class}}" class="form-check-input" type="checkbox"
                                        value="{{ class }}" onchange="handleClassChange(event);">
                                    <label class="form-check-label" for="class-checkbox-{{class}}">
                                        {{ class }}
                                    </label>
                                </div>
                            </div>
                            {% else %}
                            <div class="col">
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-3">
                    <div id="missing-runs-alert" class="alert alert-danger" role="alert">
                        <h4 class="alert-heading"><i class="fas fa-exclamation-triangle me-2"></i> Runs Missing</h4>
                        <p>Some of the chosen compliance classes do not have successful test runs:</p>
                        <ul id="missing-runs-list">
                        </ul>
                        <p>There is a total of <b id="missing-runs-count"></b> missing runs.</p>
                        <hr>
                        <p class="mb-0">You must either completed the required tests or remove compliance classes that are incomplete
                            before proceeding with the compliance request.</p>
                    </div>
                    <!-- Add all the runs upfront and show/hide them based on chosen Compliance Classes and CSIPAus version-->
                    <div class="row mb-3">
                        <h4 id="select-runs-header">Runs</h4>
                        {% for p in completed_test_procedures %}
                        <div id="test-container-{{p}}" class="row my-2">
                            <label for="run-select-{{p}}" class="col-auto col-form-label"><a
                                    href="{{ url_for('procedure_yaml_page', test_procedure_id=p) }}">{{
                                    p }} </a></label>
                            <div class="col-auto mx-2">
                                <select id="run-select-{{p}}" onchange="handleRunChange(event);"
                                    class="form-select" aria-label="Run Select {{p}}">
                                </select>
                            </div>
                            <div class="col-auto me-5">
                                <a id="run-link-{{p}}" href="#" target="_blank"
                                    class="btn btn-md btn-outline-secondary">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
        <!-- STEP 2 -->
        <div class="tab-pane fade" id="pills-step2" role="tabpanel" aria-labelledby="pills-step2-tab" tabindex="0">
            <h4>WITNESS TESTING</h4>
            <div>
                <label for="witnesstesting-date-input" class="form-label">Date</label>
                <input id="witnesstesting-date-input" name="witnesstesting_date" class="form-control" type="date"
                    aria-label="Witness Testing Date"></textarea>
                <div id="witnesstesting-date-help" class="form-text">We'll never share your email with anyone else.</div>
            </div>
        </div>
        <!-- STEP 3 -->
        <div class="tab-pane fade" id="pills-step3" role="tabpanel" aria-labelledby="pills-step3-tab" tabindex="0">
            <h4>DER</h4>
            <div class="mb-3">
                <label for="der-brand-input" class="form-label">Brand</label>
                <input id="der-brand-input" name="der-brand" class="form-control" aria-label="DER Brand">
                <div id="der-brand-help" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="der-oem-input" class="form-label">OEM</label>
                <input id="der-oem-input" name="der-oem" class="form-control" aria-label="DER OEM">
                <div id="der-oem-help" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="der-series-input" class="form-label">Series</label>
                <input id="der-series-input" name="der-series" class="form-control" aria-label="DER Series">
                <div id="der-series-help" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="der-repmod-textarea" class="form-label">Representative Models</label>
                <textarea id="der-repmod-textarea" name="der-representative-models" class="form-control" rows="3"
                    aria-label="DER Representative Models"></textarea>
                <div id="der-repmod-help" class="form-text">We'll never share your email with anyone else.</div>
            </div>
        </div>
        <!-- STEP 4 -->
        <div class="tab-pane fade" id="pills-step4" role="tabpanel" aria-labelledby="pills-step4-tab" tabindex="0">
            <h4>SOFTWARE CLIENT</h4>
            <div class="mb-3">
                <label for="sc-type-select" class="form-label">Type</label>
                <select id="sc-type-select" name="software-client-type" class="form-control" aria-label="Software Client Type ">
                    <option value="direct">Direct</option>
                    <option value="proxy">Proxy (Aggregator)</option>
                </select>
                <div id="sc-type-help" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="sc-providers-input" class="form-label">Provider(s)</label>
                <input id="sc-providers-input" name="software-client-providers" class="form-control"
                    aria-label="Software Client Providers ">
                <div id="sc-providers-help" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="sc-versions-input" class="form-label">Version(s)</label>
                <input id="sc-versions-input" name="software-client-versions" class="form-control"
                    aria-label="Software Client Versions ">
                <div id="sc-versions-help" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="sc-details-textarea" class="form-label">Details</label>
                <textarea id="sc-details-textarea" name="software-client-details" class="form-control" rows="3"
                    aria-label="Software Client Details"></textarea>
                <div id="sc-details-help" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <h4>ON-SITE HARDWARE</h4>
            <div class="mb-3">
                <label for="onsite-details-textarea" class="form-label">Details</label>
                <textarea id="onsite-details-textarea" name="onsite-hardware-details" class="form-control" rows="3"
                    aria-label="On-site Hardware Details"></textarea>
                <div id="onside-details-help" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <input type="hidden" name="action" value="new-request">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>
{% endif %}
<style>
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
</style>
<script>
    // Use this as the base URL to run status page by replacing the placeholder 0 page number
    // with {} we can use the 'format' function defined below to create URLs to run-specific status pages
    const runStatusURL = "{{ url_for('run_status_page', run_id=0)}}".replace("0", "{}");
    const defaultCSIPAusVersion = "{{ default_csipaus_version }}";
    const testsByCSIPAusVersionAndClass = JSON.parse(atob("{{ tests_by_csipaus_version_and_class_b64 }}"));
    const allComplianceClasses = JSON.parse(atob("{{ all_compliance_classes_b64 }}"));
    const testProcedures = JSON.parse(atob("{{ test_procedures_b64 }}"));
    const completedTestProcedures = new Set(JSON.parse(atob("{{ completed_test_procedures_b64 }}")));
    const runs = JSON.parse(atob("{{ runs_b64 }}"));

    // Allows string format ala Python's str.format() method.
    // Example:
    // 'My name is {}!'.format("Sam");
    // produces,
    // 'My name is Sam!'
    String.prototype.format = function () {
        var i = 0, args = arguments;
        return this.replace(/{}/g, function () {
            return typeof args[i] != 'undefined' ? args[i++] : '';
        });
    };

    function updateForRunChange(testProcedureId, runId) {
        const runViewButton = document.getElementById(`run-link-${testProcedureId}`);
        runViewButton.href = runStatusURL.format(runId);
    }

    function handleRunChange(event) {
        const runId = event.target.value;
        const testProcedureId = event.srcElement.id.split('run-select-')[1]
        updateForRunChange(testProcedureId, runId);
    }

    function updateClassCheckboxState(state) {
        var checkboxes = document.querySelectorAll('[id^="class-checkbox-"]');
        for (const checkbox of checkboxes) {
            checkbox.checked = state;
        }
        updateForClassChange();
    }

    function updateClassCheckboxes(csipausVersion) {
        var visibleClassCheckboxes = [];

        // Change visbility of class checkboxes
        for (const c of allComplianceClasses) {
            const visible = (typeof testsByCSIPAusVersionAndClass[csipausVersion][c] !== 'undefined');
            const checkboxContainer = document.getElementById(`class-checkbox-container-${c}`);
            checkboxContainer.style.display = visible ? "block" : "none";
            if (visible) {
                visibleClassCheckboxes.push(c);
            }
        }
    }

    function updateTestProcedureRows(activeClasses) {
        var visibleCount = 0;
        // Change visibility of test rows
        for (const p of testProcedures) {
            const testProcedureClass = new Set(p.classes);
            // Does this test procedure have a class in common with the chosen classes in 'activeClasses'?
            // If yes make visible
            const visible = testProcedureClass.intersection(activeClasses).size > 0;
            const testContainer = document.getElementById(`test-container-${p.test_procedure_id}`);
            if (testContainer) {
                testContainer.style.display = visible ? "" : "none";
                if (visible) {
                    visibleCount += 1;
                }
            }
        }
        return visibleCount;
    }

    function getActiveClasses() {
        // Return a set of active classes.
        // A compliance class is active if
        //    - it is checked
        //    - it is visible (only classes that part of the current csipaus version are visible)

        var activeClasses = new Set();

        // Is checkbox visible and checked?
        for (const c of allComplianceClasses) {
            const checkbox = document.getElementById(`class-checkbox-${c}`);
            const checkboxContainer = document.getElementById(`class-checkbox-container-${c}`);
            if (checkbox.checked && checkboxContainer.style.display !== "none") {
                activeClasses.add(c);
            }
        }

        return activeClasses;
    }

    function handleClassChange(event) {
        updateForClassChange();
    }

    function getMissingTests(activeClasses, csipausVersion) {
        var missingTestsByClass = {};
        var allMissingTests = new Set();
        for (const c of activeClasses) {
            requiredTests = new Set(testsByCSIPAusVersionAndClass[csipausVersion][c]);
            var missingTests = requiredTests.difference(completedTestProcedures)
            missingTestsByClass[c] = missingTests;
            allMissingTests = allMissingTests.union(missingTests);
        }
        return [missingTestsByClass, allMissingTests.size];
    }

    function getCsipausVersion() {
        return document.getElementById("csipAusVersionSelect").value;
    }

    function updateMissingRunsAlert(activeClasses, missingTests, missingTestsCount) {
        // Hide missing runs alert if there's no missing runs
        const missingRunsAlert = document.getElementById("missing-runs-alert");
        missingRunsAlert.style.display = missingTestsCount > 0 ? "block" : "none";

        // Shows missing runs per class in a list
        const missingRunsList = document.getElementById("missing-runs-list");
        missingRunsList.innerHTML = '';
        for (const [c, missing] of Object.entries(missingTests)) {
            if (missing.size > 0) {
                // Add run options
                var listItem = document.createElement('li');
                listItem.innerHTML = `<b>Class ${c}</b>: ${Array.from(missing).join(", ")}`;
                missingRunsList.appendChild(listItem);
            }
        }

        // Update the total missing runs
        const missingRunsCount = document.getElementById("missing-runs-count");
        missingRunsCount.textContent = `${missingTestsCount}`;

    }

    function updateForClassChange() {
        // Use classes to determine required test procedures
        const activeClasses = getActiveClasses();
        const csipausVersion = getCsipausVersion();
        const [missingTests, missingTestsCount] = getMissingTests(activeClasses, csipausVersion);

        // Update missing runs alert
        updateMissingRunsAlert(activeClasses, missingTests, missingTestsCount);

        // Show/hide the run selectors
        const visibleRowsCount = updateTestProcedureRows(activeClasses);

        // Hide run selection header if there are no run selectors visible
        const selectRunsHeader = document.getElementById("select-runs-header");
        selectRunsHeader.style.visibility = visibleRowsCount > 0 ? "visible" : "hidden";
    }

    function handleCSIPAusVersionChange(event) {
        // Use event to determine version
        const csipausVersion = event.target.value;
        updateForCSIPAusVersionChange(csipausVersion);
    }

    function updateForCSIPAusVersionChange(csipausVersion) {
        // Use version to update class checkboxes
        const visibleClassCheckboxes = updateClassCheckboxes(csipausVersion);

        updateForClassChange();
    }

    function insertRuns() {
        proceduresHandled = new Set()
        for (run of runs) {
            const runSelect = document.getElementById(`run-select-${run.test_procedure_id}`);

            // Add run options
            var opt = document.createElement('option');
            opt.value = run.run_id;
            opt.innerHTML = `#${run.run_id} (${"my-run-group"})`;
            runSelect.appendChild(opt);

            // Update view button
            
            if (!proceduresHandled.has(run.test_procedure_id)) {
                // Only update the runView for the first run for a given test procedure
                const runView = document.getElementById(`run-link-${run.test_procedure_id}`);
                runView.style.visibility = "visible";
                updateForRunChange(run.test_procedure_id, run.run_id)
            }

            // Keep track of which test procedures we've already handled
            proceduresHandled.add(run.test_procedure_id);
        }
    }

    addEventListener("load", (event) => {
        // Setup event listeners
        const input = document.getElementById("csipAusVersionSelect");
        input.addEventListener("change", handleCSIPAusVersionChange);

        // Select the default (starting) CSIP-Aus Version
        let csipausVersionSelect = document.getElementById("csipAusVersionSelect");
        csipausVersionSelect.value = defaultCSIPAusVersion;

        // Update the classes for the version of CSIPAus
        updateForCSIPAusVersionChange(defaultCSIPAusVersion);

        // Add runs
        insertRuns();
    });

</script>

{% endblock %}
