{% extends "base.html" %}

{% block title %}Compliance- Cactus{% endblock %}

{% block content %}


{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% else %}
<!-- Prefill New Compliance Report Modal -->
<div class="modal fade" id="prefillModal" tabindex="-1" aria-labelledby="prefillModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="prefillModalLabel">New request for compliance</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>To save time, new compliance requests can be pre-filled with the information from existing compliance requests.</p>
        <p>To use pre-filling, choose compliance request from the drop-down.</p>
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Existing Compliance Request:</label>
            <select id="prefill-select" class="form-select" aria-label="Default select example">
                <option selected>No Pre-fill</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a id="continue-button" class="btn btn-primary" href="{{ url_for('compliance_request_page') }}" role="button">Continue</a> 
      </div>
    </div>
  </div>
</div>

<!-- Page -->
<div class="max-page-height scroll-parent" style="padding-top:10px; display: flex; flex-direction: column;">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Compliance</h2>
    </div>

    {% if is_admin_view %}
    <form class="form-inline form-margin">
        <input id="filter-requests-input" class="form-control mr-sm-2 search" type="search"
            placeholder="Search by compliance request IDs" aria-label="Search"
            oninput="filterRequestsHandler(event)">
    </form>
    {% else %}
    <div class="d-grid gap-2 d-md-block my-3">
        {% if requests|length > 0 %}
        <!-- Button shows pre-fill modal-->
        <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#prefillModal">
            New Request <b>+</b>
        </button>
        {% else %}
        <!-- Button links to compliance request page -->
        <a href="{{ url_for('compliance_request_page') }}" class="btn btn-primary btn-lg">
            New Request <b>+</b>
        </a>
        {% endif %}
    </div>
    {% endif %}

    <div class="make-scroll">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Request ID</th>
                    <th>Created</th>
                    {% if is_admin_view %}
                    <th>Client</th>
                    {% else %}
                    <th>Details</th>
                    {% endif %}
                    <th>Status</th>
                    <th></th> <!-- Actions(s) column -->
                </tr>
            </thead>
            <tbody id="requests-table-body"></tbody>
        </table>
    </div>
</div>
{% endif %}
<style>
    html,
    body {
        height: 100%;
        margin: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .main-footer {
        margin-top: 0 !important;
    }

    .main-content {
        flex: 1;
        overflow: hidden;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
    }

    /*
     These are required for scrolling the table - however they prevent the navbar dropdown from working correctly
    .container {
        overflow: hidden;
        height: 100%;
    }

    .scroll-parent {
        overflow: hidden;
        height: 100%;
    }

    .make-scroll {
        flex: 1;
        overflow: auto;
    }
    */
    .form-margin {
        margin: auto 0.2em 0.5em 0.2em;
    }

    .separated-links {
        margin-right: 0.7em;
    }

    .search {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .hidden {
        display: none !important;
    }
</style>
<script>
    const requests = JSON.parse(atob("{{ requests_b64 }}"));
    const isAdminView = "{{ is_admin_view }}" === 'True';
    const complianceRequestPageURL = "{{ url_for('compliance_request_page') }}"

    // Allows string format ala Python's str.format() method.
    // Example:
    // 'My name is {}!'.format("Sam");
    // produces,
    // 'My name is Sam!'
    String.prototype.format = function () {
        var i = 0, args = arguments;
        return this.replace(/{}/g, function () {
            return typeof args[i] != 'undefined' ? args[i++] : '';
        });
    };

    function createActionButtons(actions, request) {
        var actionToIconMapping = {
            'edit': {"icon": `<i class="fas fa-pen"></i>`, "buttonColor": "btn-outline-primary", "tooltip": "Edit Compliance Request"},
            'view': {"icon": `<i class="fas fa-eye"></i>`, "buttonColor": "btn-outline-secondary", "tooltip": "View Compliance Request"},
            'download': {"icon": `<i class="fas fa-download"></i>`, "buttonColor": "btn-outline-secondary", "tooltip": "Download Compliance Request"},
            'delete': {"icon": `<i class="fas fa-trash"></i>`, "buttonColor": "btn-outline-danger", "tooltip": "Delete Compliance Request [PERMANENT]"},
        };

        const buttonTemplate = `
                <button class="btn btn-sm {} me-3" data-bs-toggle="tooltip" data-bs-title="{}" type="button" aria-expanded="false">
                    {}
                </button>
        `;

        // This relies on String.prototype being extended with the 'format' function (see above)
        const actionButtons = actions.map((action) => buttonTemplate.format(actionToIconMapping[action]["buttonColor"], actionToIconMapping[action]["tooltip"], actionToIconMapping[action]["icon"]));

        return actionButtons.join("");
    }

    function updateRequestsTable(requestsForTable) {
        const table = document.getElementById("requests-table-body");
        for (const request of requestsForTable) {
            const newRow = table.insertRow();

            const requestIdCell = newRow.insertCell(0);
            const createdCell = newRow.insertCell(1);
            const detailsCell = newRow.insertCell(2);
            const statusCell = newRow.insertCell(3);
            const actionsCell = newRow.insertCell(4);

            requestIdCell.innerHTML = request.compliance_request_id;
            createdCell.innerHTML = request.created_at;
            if (isAdminView) {
                detailsCell.innerHTML = request.user_details;
            } else {
                detailsCell.innerHTML = request.request_details;
            }

            // Determine status descriptions
            var status;
            switch(request.status) {
                case "submitted":
                    status = isAdminView ? "Awaiting Review" : "Submitted";
                    break;
                case "pushed-back":
                    status = isAdminView ? "Waiting on User Amendments" : "Changes Requested";
                    break;
                case "under-review":
                    status = "Under Review";
                    break;
                case "finalised":
                    status = "Finalised";
                    break;
                default:
                    status = `UNKNOWN STATUS: ${request.status}`
            }
            statusCell.innerHTML = status;

            // Determine suitable actions depending on the request status and who is viewing
            var actions = [];
            switch(request.status) {
                case "submitted":
                    actions.push(...(isAdminView ? ["edit"] : ["edit", "delete"]));
                    break;
                case "pushed-back":
                    actions.push(...(isAdminView ? ["view"] : ["edit", "delete"]));
                    break;
                case "under-review":
                    actions.push(...(isAdminView ? ["edit"] : ["view"]));
                    break;
                case "finalised":
                    actions.push(...(isAdminView ? ["download"] : ["view"]));
                    break;
                default:
            }

            // Add actions to UI
            actionsCell.innerHTML = createActionButtons(actions, request);
        }
    }

    function clearRequestsTable() {
        const myNode = document.getElementById("requests-table-body");
        while (myNode.firstChild) {
            myNode.removeChild(myNode.lastChild);
        }
    }

    function displayNoRequests() {
        const table = document.getElementById("requests-table-body");
        const newRow = table.insertRow();
        newRow.innerHTML = '<td colspan="5" class="text-center">No Compliance Requests found.</td>'
    }

    function fetchFilteredRequests(filterText) {
        if (filterText.length == 0) {
            return requests;
        } else {
            // Perform filtering client-side
            let filteredRequests = [];
            for (const request of requests) {
                if (request.matchable_description.match(filterText)) {
                    filteredRequests.push(request);
                }
            }
            return filteredRequests;
        }
    }

    function filterRequests(filterText) {
        const filteredRequests = fetchFilteredRequests(filterText);

        clearRequestsTable();
        if (filteredRequests.length > 0) {
            updateRequestsTable(filteredRequests);
        } else {
            displayNoRequests();
        }

    }

    function filterRequestsHandler(event) {
        filterRequests(event.target.value);
    }

    function getRandomInt(max) {
    return Math.floor(Math.random() * max);
    }

    function setupPrefillModalSelect(requests) {
        const modalSelect = document.getElementById("prefill-select");

        // Add the existing requests are prefill options
        for (const request of requests) {
            var opt = document.createElement('option');
            opt.value = request.compliance_request_id;
            opt.innerHTML = `Compliance Request #${request.compliance_request_id}`;
            modalSelect.appendChild(opt);
        }

        // Add callback for updating the modal button text depending
        // on whether prefilling chosen or not.
        const modalButton = document.getElementById("continue-button");
        modalSelect.onchange = (event) => {
            switch(event.target.value) {
                case "No Pre-fill":
                    modalButton.innerHTML = "Continue";
                    modalButton.href = complianceRequestPageURL;
                    break;
                default:
                    // prefill chosen
                    modalButton.innerHTML = "Prefill request";
                    // Add compliance request id as prefill query parameter
                    modalButton.href = `${complianceRequestPageURL}?prefill=${event.target.value}`; 
            } 
        }
    }

    addEventListener("load", (event) => {
        // Apply filter correctly of page (re)load
        const filter = document.getElementById("filter-requests-input");
        filterRequests(filter !== null ? filter.value : "");

        // Update prefill modal 'select' to include the existing requests
        setupPrefillModalSelect(requests);

        // Enable tooltips
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

    });
</script>

{% endblock %}
