{% extends "base.html" %}

{% block title %}Certificate - CACTUS{% endblock %}

{% block content %}
{% include 'banner.html' %}
<h2>User Configuration</h2>

<p>
    The following configuration options will apply to all future <a href="{{ url_for('runs_page') }}">Runs</a> that are
    created.
</p>

<hr>

{% if error %}
<div class="alert alert-danger mt-3">
    <strong>Error:</strong> {{ error }}
</div>
{% endif %}

{% if not run_groups %}
<div class="alert alert-danger" role="alert">
    There are no Run Groups configured. Please create one below in order to start testing.
</div>
{% endif %}


<div class="row">
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Run Groups</h5>
                <p class="card-text">Each run group represents progress towards certification for a single device /
                    client.</p>

                <p class="card-text">
                    All certificates will be signed by the CACTUS certificate authority.
                <form method="POST" action="{{ url_for('config_page') }}">
                    <div class="btn-group" role="group">
                        <button type="submit" name="action" value="download-ca" class="btn btn-outline-secondary">
                            <i class="fas fa-download"></i> Download SERCA Certificate
                        </button>
                    </div>
                {% if run_groups|length > 1 %}
                <div class="dropdown" style="display:inline-block">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Advanced Options
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button type="button"
                                    class="dropdown-item"
                                    data-bs-toggle="modal" data-bs-target="#certmodal">
                                    Generate Shared Aggregator Certificate
                            </button>
                        </li>
                    </ul>
                </div>
                {% endif %}
                </form>

                <!-- Modal for 'Apply shared aggregator certifcate' button -->
                <div class="modal fade" id="certmodal" tabindex="-1" aria-labelledby="certmodal-label" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="certmodal-label">
                                    Generate Shared Aggregator Certificate</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                A new aggregator certificate will be generated and set as the certificate for {{run_groups|length}} run groups.
                                <br>
                                <br>
                                <strong>Note:</strong> Generating a new aggregator certificate will replace <i>all</i> existing certificates for <i>all</i> run groups.
                            </div>
                            <div class="modal-footer">
                                <form method="POST" action="{{ url_for('config_page') }}" id="download" class="cert-download-form" target="hiddenFrame">
                                    <div class="btn-group" role="group">
                                        <button type="submit" name="action" value="generatesharedcertificateallrungroups"
                                            class="btn btn-outline-danger">
                                            <i class="fas fa-recycle"></i> Apply
                                        </button>
                                    </div>
                                </form>
                                <iframe name="hiddenFrame" style="display:none;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>


                {% if not run_groups %}
                <p class="card-text"><strong>There doesn't seem to be anything here...</strong></p>
                {% endif %}

                <table class="table align-middle">
                    <tbody>
                        {% for rg in run_groups %}
                        <tr>
                            <td>
                                <button type="button"
                                    class="btn {{'btn-primary' if not rg.certificate_created_at else 'btn-outline-primary'}}"
                                    data-bs-toggle="modal" data-bs-target="#certmodal-{{ rg.run_group_id }}">
                                    {% if rg.certificate_id and rg.certificate_created_at %}
                                    <i class="fas fa-recycle"></i> {{ 'Device' if rg.is_device_cert else 'Aggregator' }}
                                    Certificate
                                    {% else %}
                                    <i class="fas fa-plus"></i> Generate Certificate
                                    {% endif %}
                                </button>

                                <div class="modal fade" id="certmodal-{{ rg.run_group_id }}" tabindex="-1"
                                    aria-labelledby="certmodal-{{ rg.run_group_id }}-label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="certmodal-{{ rg.run_group_id }}-label">
                                                    Certificate for {{ rg.name }}</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                {% if rg.certificate_id and rg.certificate_created_at %}

                                                The current
                                                <code>{{ 'Device' if rg.is_device_cert else 'Aggregator' }}</code>
                                                certificate (ID <code>{{ rg.certificate_id }}</code>) was created
                                                <code>{{ rg.certificate_created_at.strftime('%Y-%m-%d') }}</code><br><br>
                                                <strong>Note:</strong> Generating a new certificate will invalidate the
                                                current certificate.

                                                {% else %}
                                                There is <strong>no</strong> certificate on record for this run group.
                                                You will need to create one in order to create test runs.
                                                {% endif %}
                                            </div>
                                            <div class="modal-footer">
                                                <form method="POST" action="{{ url_for('config_page') }}"
                                                    id="download-{{ rg.run_group_id }}" class="cert-download-form"
                                                    target="hiddenFrame-{{ rg.run_group_id }}">
                                                    <input type="hidden" name="run_group_id"
                                                        value="{{ rg.run_group_id }}">

                                                    <div class="btn-group" role="group">

                                                        {% if rg.certificate_id and rg.certificate_created_at %}
                                                        <button type="submit" name="action" value="downloadcert"
                                                            class="btn btn-outline-secondary">
                                                            <i class="fas fa-download"></i> Download Existing
                                                            Certificate
                                                        </button>
                                                        {% endif %}

                                                        <button type="submit" name="action" value="generatedevice"
                                                            class="btn {{ 'btn-outline-danger' if rg.certificate_id else 'btn-outline-primary'}}">
                                                            <i class="fas fa-recycle"></i> Device Certificate
                                                        </button>

                                                        <button type="submit" name="action" value="generateagg"
                                                            class="btn {{ 'btn-outline-danger' if rg.certificate_id else 'btn-outline-primary'}}">
                                                            <i class="fas fa-recycle"></i> Aggregator
                                                            Certificate
                                                        </button>
                                                    </div>

                                                </form>
                                                <iframe name="hiddenFrame-{{ rg.run_group_id }}"
                                                    style="display:none;"></iframe>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <form method="POST" action="{{ url_for('config_page') }}">
                                    <input type="hidden" name="run_group_id" value="{{ rg.run_group_id }}">
                                    <div class="input-group">
                                        <input type="text" name="name" class="form-control" value="{{ rg.name }}">
                                        <button type="submit" name="action" value="updaterungroup"
                                            class="btn btn-outline-primary">
                                            <i class="fas fa-floppy-disk"></i>
                                        </button>
                                    </div>

                                </form>
                            </td>
                            <td><code>{{ rg.csip_aus_version }}</code></td>
                            <td>{{ rg.total_runs }} total run(s)</td>
                            <td>
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                    data-bs-target="#delmodal-{{ rg.run_group_id }}">
                                    <i class="fas fa-trash-can"></i> Delete
                                </button>

                                <div class="modal fade" id="delmodal-{{ rg.run_group_id }}" tabindex="-1"
                                    aria-labelledby="delmodal-{{ rg.run_group_id }}-label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="delmodal-{{ rg.run_group_id }}-label">
                                                    Confirm Delete</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                You are about to permanently delete <strong>{{ rg.name }}</strong>
                                                <code>{{ rg.csip_aus_version }}</code>. Once deleted, this group and the
                                                associated {{ rg.total_runs }} run(s) will be gone forever.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancel</button>
                                                <form method="POST" action="{{ url_for('config_page') }}">
                                                    <input type="hidden" name="run_group_id"
                                                        value="{{ rg.run_group_id }}">

                                                    <button type="submit" name="action" value="deleterungroup"
                                                        class="btn btn-danger">
                                                        <i class="fas fa-trash-can"></i> Delete {{ rg.name }}
                                                    </button>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <form method="POST" action="{{ url_for('config_page') }}">
                    <input type="hidden" name="action" value="createrungroup">
                    <div class="btn-group" role="group">
                        {% for csip_aus_version in csip_aus_versions %}
                        <button type="submit" name="version" value="{{ csip_aus_version.version }}"
                            class="btn btn-outline-primary"> <i class="fas fa-plus"></i> New {{ csip_aus_version.version
                            }} Group</button>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Private Enterprise Number (PEN)</h5>
                <p class="card-text">A Private Enterprise Number (PEN) is a numeric identifier for an organisation,
                    individual or other entity. CSIP-Aus requires clients to encode a PEN within various requests to the
                    server.</p>
                <p class="card-text">A PEN can be obtained from <a href="https://www.iana.org/">IANA</a> for free from
                    the following <a href="https://www.iana.org/assignments/enterprise-numbers/">link</a>.</p>
                <form method="POST" action="{{ url_for('config_page') }}">
                    <input type="number" step="any" , min="1" , max="4294967295" class="form-control" id="inputPen"
                        name="pen" aria-describedby="penHelp" placeholder="Enter PEN (e.g. 123456)" value="{{ pen }}">
                    <br>
                    <button type="submit" name="action" value="setpen" class="btn btn-primary">
                        <i class="fas fa-pen"></i> Update PEN
                    </button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Subscription Notification Domain (Optional)</h5>
                <p class="card-text">This domain will be authorised for receiving subscription notifications.</p>
                <p class="card-text"><b>Note:</b> All subscription notification URIs must use this registered domain, or
                    they will be rejected.</p>
                <br>
                <form method="POST" action="{{ url_for('config_page') }}">
                    <input type="text" class="form-control" id="inputDomain1" name="subscription_domain"
                        aria-describedby="domainHelp" placeholder="Enter a FQDN (e.g. my.example.com)"
                        value="{{ domain }}">
                    <br>
                    <button type="submit" name="action" value="setsubscribeddomain" class="btn btn-primary">
                        <i class="fas fa-pen"></i> Update Domain
                    </button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">DeviceCapability URI</h5>
                <p class="card-text">The DeviceCapability URI can set to be either "static" or "dynamic".</p>
                <p class="card-text">A "static" value results in sharing the same DeviceCapability URI across all test
                    runs. <b>Note:</b> when "static" is set only <i>one</i> test run can be active at any given time.
                    A test must be started before these URIs will be active!
                </p>
                <p>
                    {% if static_uri_example %}
                    Currently <span class="badge text-bg-primary">Static</span><br><u>{{static_uri_example}}</u>
                    {% else %}
                    Currently <span class="badge text-bg-primary">Dynamic</span>
                    {% endif %}
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        <i class="fas fa-info-circle"></i>
                        Start a test run from the <a href="{{ url_for('runs_page') }}">Runs</a> page to activate the
                        URI.
                    </small>
                </p>

                <form method="POST" action="{{ url_for('config_page') }}">
                    <input type="hidden" name="static_uri" , value="{{ not static_uri }}">

                    <button type="submit" name="action" value="setstaticuri" class="btn btn-primary">
                        <i class="fas fa-arrow-right-arrow-left"></i>
                        {% if static_uri %}
                        Swap to dynamic URI
                        {% else %}
                        Swap to static URI
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<br>

<script>
    addEventListener("load", (event) => {
        // Force the cert download to refresh the page (this is a little hacky but doing this properly will require
        // doing some tricky server side logic - this should be good)
        for (el of document.getElementsByClassName('cert-download-form')) {
            el.addEventListener('submit', function () {
                setTimeout(() => {
                    window.location.reload();
                }, 1500);
            });
        }
    });
</script>


{% endblock %}