{% extends "base.html" %}

{% block title %}Procedures - Cactus{% endblock %}

{% block content %}

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<h2>Test Procedure {{ test_procedure_id }}</h2>

<p>The following test procedure is described and maintained at <a
        href="https://github.com/bsgip/cactus-test-definitions">CACTUS Test Definitions</a> repository</p>

<form method="POST" id="submit-run-form"
    action="{{ url_for('procedure_yaml_page', test_procedure_id=test_procedure_id) }}">
    <input type="hidden" name="action" value="initialise">
    <button id="submit-run-btn" type="submit" class="btn btn-success">Start Run</button>
</form>
<br>
<pre><code class="language-yaml">{{ yaml }}</code></pre>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script>
    function submit_run() {
        var form = document.getElementById('submit-run-form')
        if (form.checkValidity()) {
            var btn = document.getElementById('submit-run-btn')
            btn.disabled = true
            btn.innerHTML =
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only">Loading...</span>`;
            form.submit()
        }
    }
    document.getElementById('submit-run-btn').onclick = submit_run
</script>

{% endblock %}