<html>
<p><a href="/logout" id="qsLogoutBtn" class="btn btn-primary">Logout</a></p>
<table class="table table-striped">
    <thead>
        <th>#</th>
        <th>Run ID</th>
        <th>Test Procedure ID</th>
        <th>Test URL</th>
        <th>Finalised</th>
    </thead>
    <tbody>
        {% for run in runs %}
        <tr>
            <td>{{ loop.index0 }}</td>
            <td>{{ run['run_id'] }}</td>
            <td>{{ run['test_procedure_id'] }}</td>
            <td>{{ run['finalised'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</html>