{% extends "base.html" %}

{% block title %}Runs - Cactus{% endblock %}

{% block content %}
<h2>Runs</h2>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}


<div class="row">
    <div class="col procedure-container" style="border: 1px;">
        {% for gp in grouped_procedures %}
        <div class="card" style="border-radius: 0; border-bottom: none;">
            <div class="card-header">{{gp[0]}}</div>
            <div class="list-group list-group-flush">
                {% for procedure in gp[1] %}
                <a href="#" id="{{procedure.test_procedure_id }}"
                    class="procedure-btn list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    {{procedure.test_procedure_id }}

                    {% if procedure.run_count > 0 %}
                    {% if procedure.latest_all_criteria_met == true %}
                    <span class="badge text-bg-success">{{ procedure.run_count }}</span>
                    {% elif procedure.latest_all_criteria_met == false %}
                    <span class="badge text-bg-danger">{{ procedure.run_count }}</span>
                    {% else %}
                    <span class="badge text-bg-secondary">{{ procedure.run_count }}</span>
                    {% endif %}
                    {% endif %}

                </a>
                {% endfor %}
            </div>

        </div>
        {% endfor %}
    </div>
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Created</th>
                    <th scope="col">Status</th>
                    <th scope="col">Result</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>John</td>
                    <td>Doe</td>
                    <td>@social</td>
                </tr>
            </tbody>
        </table>
        <span class="align-middle">Select a test procedure to view runs</span>
    </div>
</div>



<div class="row">

</div>


<style>
    .procedure-container {
        max-width: 400px;
        min-width: 200px;
        overflow-y: auto;

    }
</style>

<script>
    function formatDate(d) {
        // d: Date
        return d.toLocaleString('sv'); // Sweden format is YYYY-MM-DD HH:MM:SS
    }

    function submit_run() {
        var form = document.getElementById('submit-run-form')
        if (form.checkValidity()) {
            var btn = document.getElementById('submit-run-btn')
            btn.disabled = true
            btn.innerHTML =
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only">Loading...</span>`;
            form.submit()
        }
    }

    function handleNewRuns(rawRunsJson) {

    }

    function handleRunsError(error) {

    }

    function loadProcedureRuns(test_procedure_id) {
        const xhr = new XMLHttpRequest();
        xhr.open("GET", `/procedure_runs/${test_procedure_id}`, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    try {
                        handleNewRuns(xhr.responseText)
                    } catch (e) {
                        console.error("Failed to parse response:", e);
                        handleRunsError("Failed to parse runs response. Please try reloading the page.");
                    }
                } else {
                    console.error("Request failed with status:", xhr.status);
                    handleRunsError(`Received failure response (${xhr.status}) from server. Please try again later.`);
                }
            }
        };
        xhr.onerror = function () {
            console.error("AJAX error occurred.");
            handleRunsError(`Unable to communicate with server. Please try refreshing the page.`);
        };
        xhr.send();
    }

    function handleProcedureButtonClick(e) {
        // update active class
        document.querySelectorAll(".procedure-btn").forEach(el => el.classList.remove('active'));
        this.classList.add('active');


        loadProcedureRuns(this.id)
    }



    addEventListener("load", (event) => {
        // Install onclick handlers for procedure btns
        document.querySelectorAll(".procedure-btn").forEach(el => el.onclick = handleProcedureButtonClick);

    });

</script>


{% endblock %}