{% extends "base.html" %}

{% block title %}Runs - Cactus{% endblock %}

{% block content %}
<h2>Runs</h2>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<div class="row">
     <!-- Section for triggering a new run -->
     <div class="col-12 col-md-4 order-1 order-md-2 mb-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Trigger a New Run</h3>
                <form method="POST" id="submit-run-form">
                    <input type="hidden" name="action" value="trigger">
                    <div class="mb-3">
                        <select name="test_procedure_id" id="testProcedure" class="form-select" required>
                            <option value="" disabled selected>Select a test procedure</option>
                            {% for procedure in procedures %}
                            <option value="{{ procedure.test_procedure_id }}">{{ procedure.description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button id="submit-run-btn" type="submit" class="btn btn-success w-100 w-md-auto">Start Run</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Table displaying runs -->
    <div class="col-12 col-md-8 order-2 order-md-1 mt-4 mt-md-0">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Run ID</th>
                        <th>Test Procedure ID</th>
                        <th>Test URL</th>
                        <th>Finalised</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for run in runs %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ run['run_id'] }}</td>
                        <td>{{ run['test_procedure_id'] }}</td>
                        <td>{{ run['test_url'] }}</td>
                        <td>{{ run['finalised'] }}</td>
                        <td>
                            {% if run['finalised'] %}
                            <!-- Form for downloading artifacts -->
                            <form method="POST" action="{{ url_for('runs_page') }}">
                                <input type="hidden" name="run_id" value="{{ run['run_id'] }}">
                                <input type="hidden" name="action" value="artifact">
                                <button type="submit" class="btn btn-secondary">Download</button>
                            </form>
                            {% else %}
                            <!-- Form to finalising the run and downloading artifacts -->
                            <form method="POST" action="{{ url_for('runs_page') }}">
                                <input type="hidden" name="run_id" value="{{ run['run_id'] }}">
                                <input type="hidden" name="action" value="finalise">
                                <button type="submit" class="btn btn-warning">Finalise</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6" class="text-center">No runs available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="d-flex justify-content-between">
                {% if prev_page %}
                <a href="{{ prev_page }}" class="btn btn-outline-primary">Previous</a>
                {% endif %}
                {% if next_page %}
                <a href="{{ next_page }}" class="btn btn-outline-primary">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    function submit_run() {
        var form = document.getElementById('submit-run-form')
        if (form.checkValidity()) {
            var btn = document.getElementById('submit-run-btn')
            btn.disabled = true
            btn.innerHTML =
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only">Loading...</span>`;
            form.submit()
        }
    }
    document.getElementById('submit-run-btn').onclick = submit_run
</script>


{% endblock %}